# Set up deeplabcut database table

## Connect to database

In [ ]:
import os
import psycopg2
import pandas as pd
import platform

host = "localhost" if platform.system() == "Windows" else "129.108.49.30"

conn = psycopg2.connect(dbname="deeplabcut_db", user="postgres", password="1234", host=host, port="5432")

cursor = conn.cursor()

## To delete table

In [ ]:
cursor.execute("DROP TABLE IF EXISTS dlc_files;")
conn.commit()

## Create table

In [ ]:
cursor.execute("CREATE TABLE IF NOT EXISTS dlc_table (id SERIAL PRIMARY KEY);")
conn.commit()

## Add other features to the table

In [ ]:
# Add new columns to the table (if they don't already exist)
alter_commands = [
    "ALTER TABLE dlc_table ADD COLUMN IF NOT EXISTS video_name TEXT",
    "ALTER TABLE dlc_table ADD COLUMN IF NOT EXISTS num_frames INTEGER",
    "ALTER TABLE dlc_table ADD COLUMN IF NOT EXISTS frame_rate FLOAT",
    "ALTER TABLE dlc_table ADD COLUMN IF NOT EXISTS genotype TEXT",
    "ALTER TABLE dlc_table ADD COLUMN IF NOT EXISTS task TEXT",
    "ALTER TABLE dlc_table ADD COLUMN IF NOT EXISTS health TEXT",
    "ALTER TABLE dlc_table ADD COLUMN IF NOT EXISTS name TEXT",
    "ALTER TABLE dlc_table ADD COLUMN IF NOT EXISTS date TIMESTAMP"
]

for command in alter_commands:
    cursor.execute(command)

conn.commit()

## Show first few columns of the dlc_files table

In [4]:
# Run SQL and load results into DataFrame
df = pd.read_sql_query("SELECT * FROM dlc_table", conn)

# Show it
# pd.set_option('display.max_colwidth', None)
print(df.head())

   id                      video_name num_frames frame_rate genotype  task  \
0   1  FoodLight_9_10_24_Indigo_Y.avi       None       None     None  None
1   2   FoodLight_9_10_24_Lilac_Y.avi       None       None     None  None
2   3   FoodLight_9_10_24_Pinky_P.avi       None       None     None  None
3   4    FoodLight_9_10_24_Sage_P.avi       None       None     None  None
4   5     FoodLight_9_10_24_Sky_P.avi       None       None     None  None

  health  name  date
0   None  None  None
1   None  None  None
2   None  None  None
3   None  None  None
4   None  None  None

C:\Users\FriedmanLab Optogen\AppData\Local\Temp\ipykernel_16640\1735405013.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM dlc_table", conn)

## Close connection

In [ ]:
cursor.close()
conn.close()